@import "tailwindcss";

@theme {
    --font-manrope: "Manrope";
    --color-athens-gray: #E5E7EB;
    --color-christine: #EA580C;
    --color-primary: #FF9A00
}


body {
    font-family: 'Manrope', serif;
}