@import "tailwindcss";

@theme {
    --font-manrope: "Manrope";
    --color-athens-gray: #E5E7EB;
    --color-christine: #EA580C;
    --color-primary: #FF9A00
}


body {
    font-family: 'Manrope', serif;
}

.section {
    @apply py-16 px-4 md:px-10 lg:px-16;
}

.social-link-label {
    clip-path: inset(50%);
    @apply -m-1 size-1 absolute p-0 overflow-hidden border-0 whitespace-nowrap;
}